<div class="navbar-nav ml-auto mt-2 mt-lg-0" style="margin-right: 40px;">
    <a href="@Url.Action("Index", "Profile")">
        <img src="~/Content/user_green-5121.png" width="45px" height="40px" />
    </a>  
    <a href="@Url.Action("SignOut", "Account")">
        <img src="~/Content/signout.png" style="margin-left: 10px" width="45px" height="40px"/>
    </a>
</div>
