@model MvcPL.Models.PaginationViewModel<MvcPL.Models.CommentViewModel>
@{
    bool emptySearch = Model.PageInfo.TotalItems == 0 || (!Model.Items.Any());
}
@if (emptySearch)
{
    <div class="noComment">there are no comments yet</div>
}
else
{
    if (Model.PageInfo.TotalPages != Model.PageInfo.PageNumber)
    {
        <a href="@Url.Action("LoadMoreComment", "Photos")" id="loadMoreComment" class="loadMoreComment" page="@Model.PageInfo.PageNumber">
            Load more comments
        </a>
    }
    foreach (var comment in Model.Items.Reverse())
    {
        <div id="comment">
            <span class="commentAuthor-name">@comment.Author.Name </span>
            <span>@comment.Text</span>
        </div>
    }
}

