<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add connectionString="mongodb://admin:6D9e3m5i4d8@ds135384.mlab.com:35384/photoalbum" name="PhotoAlbumConnectionString" />
  </connectionStrings>
  <appSettings>
    <add key="PhotoAlbumDatabaseName" value="photoalbum" />
  </appSettings>
</configuration>