@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Oops</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<div class="container justify-content-center" style="text-align: center">
    <h1>Wrong way</h1>
    <h3>Navigate to <a href="@Url.Action("Index", "Photos")">home page</a></h3>
    <img src="~/Content/mole.jpg" height="400px"/>
</div>
</body>
</html>